body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.head,.body{
  width: 400px;
  border: 1px solid #000000;
  text-align: center;
}
.head{
  height: 100px;
  line-height: 100px;
}
.body{
  height: 200px;
  line-height: 200px;
}
.btn{
  background-color: aqua;
  text-align: center;
  color: #fff;
  width: 80px;
  float: right;
  border-radius: 10px;
  margin: 10px;
}
